ErrorDocument 404 /chyba.php
RewriteEngine on
RewriteRule    ^chyba    chyba.php
RewriteRule    ^home-(\d+)    index.php?strana=$1
RewriteRule    ^home    index.php
RewriteRule    ^historie    historie.php
RewriteRule    ^tymove_fotky    tymove_fotky.php
RewriteRule    ^hymna    hymna.php
RewriteRule    ^muzi    tym.php
RewriteRule    ^zapasy-(\d+)    zapasy.php?id=$1
RewriteRule    ^zapasy    zapasy.php
RewriteRule    ^uprava-zapasu-(\d+)    upravaZapasu.php?zapas=$1
RewriteRule    ^uprava-zapasu    upravaZapasu.php
RewriteRule    ^vsechny-zapasy-muzi    vsechnyZapasy.php
RewriteRule    ^vsechny-zapasy-zaci    vsechnyZapasy.php?vek=z
RewriteRule    ^tabulka-muzi    tabulka.php
RewriteRule    ^tabulka-zaci    tabulka.php?vek=z
RewriteRule    ^zaci    tym.php?vek=z
RewriteRule    ^stara-garda    tym.php?vek=s
RewriteRule    ^fotogalerie-(\d+)    fotogalerie.php?id=$1
RewriteRule    ^fotogalerie    fotogalerie.php
RewriteRule    ^ke-stazeni    keStazeni.php
RewriteRule    ^kontakt    kontakt.php
RewriteRule    ^vybor    vybor.php
#RewriteRule    ^prihlaseni-\?(.*)    prihlaseni.php?page=$1
RewriteRule    ^prihlaseni    prihlaseni.php
RewriteRule    ^zapomenute-heslo    zapomenuteHeslo.php
RewriteRule    ^informace-o-zapase-(\d+)    infoZapasu.php?zapas=$1
RewriteRule    ^informace-o-zapase    infoZapasu.php
RewriteRule    ^novinka-(\d+)    novinka.php?novinka=$1
RewriteRule    ^profil    profil.php
RewriteRule    ^smazat-hrace-opravdu-(\w+)    editHraci.php?opravdu=1&id=$1
RewriteRule    ^smazat-hrace-(\w+)    editHraci.php?id=$1
RewriteRule    ^editace-hracu    editHraci.php
RewriteRule    ^upravit-profil    editHrac.php?profil=1
RewriteRule    ^upravit-hrace-(\w+)    editHrac.php?id=$1
RewriteRule    ^upravit-hrace    editHrac.php
RewriteRule    ^novy-hrac    editHrac.php
RewriteRule    ^smazat-pokutu-opravdu-(\d+)    dluh.php?opravdu=1&id=$1
RewriteRule    ^smazat-pokutu-(\d+)    dluh.php?smaz=1&id=$1
RewriteRule    ^pokuty-(\w+)    dluh.php?login=$1
RewriteRule    ^moje-pokuty    dluh.php
RewriteRule    ^obnovit-pokutu-(\d+)    dluh.php?obnov=1&id=$1
RewriteRule    ^smazat-tym-opravdu-(\d+)    editTymy.php?opravdu=1&id=$1
RewriteRule    ^smazat-tym-(\d+)    editTymy.php?id=$1
RewriteRule    ^editace-tymu    editTymy.php
RewriteRule    ^upravit-tym-(\d+)    editTym.php?id=$1
RewriteRule    ^upravit-tym    editTym.php
RewriteRule    ^novy-tym    editTym.php
RewriteRule    ^smazat-zapas-opravdu-(\d+)    editZapasy.php?opravdu=1&id=$1
RewriteRule    ^smazat-zapas-(\d+)    editZapasy.php?id=$1
RewriteRule    ^editace-zapasu    editZapasy.php
RewriteRule    ^upravit-zapas-(\d+)    editZapas.php?id=$1
RewriteRule    ^upravit-zapas    editZapas.php
RewriteRule    ^novy-zapas    editZapas.php
RewriteRule    ^smazat-clanek-opravdu-(\d+)    editClanky.php?opravdu=1&id=$1
RewriteRule    ^smazat-clanek-(\d+)    editClanky.php?id=$1
RewriteRule    ^editace-clanku    editClanky.php
RewriteRule    ^upravit-clanek-(\d+)    editClanek.php?id=$1
RewriteRule    ^upravit-clanek    editClanek.php
RewriteRule    ^novy-clanek    editClanek.php
RewriteRule    ^smazat-fotogalerii-opravdu-(\d+)    editFota.php?opravdu=1&id=$1
RewriteRule    ^smazat-fotogalerii-(\d+)    editFota.php?id=$1
RewriteRule    ^editace-fotogalerii    editFota.php
RewriteRule    ^upravit-fotogalerii-(\d+)    editFoto.php?id=$1
RewriteRule    ^upravit-fotogalerii    editFoto.php
RewriteRule    ^nova-fotogalerie    editFoto.php
RewriteRule    ^smazat-soubor-opravdu-(\d+)    editSoubory.php?opravdu=1&id=$1
RewriteRule    ^smazat-soubor-(\d+)    editSoubory.php?id=$1
RewriteRule    ^editace-souboru    editSoubory.php
RewriteRule    ^upravit-soubor-(\d+)    editSoubor.php?id=1
RewriteRule    ^upravit-soubor    editSoubor.php
RewriteRule    ^novy-soubor    editSoubor.php
RewriteRule    ^smazat-komentar-diskuze-opravdu-(\d+)    editDiskuze.php?diskuze=1&opravdu=1&id=$1
RewriteRule    ^smazat-komentar-opravdu-(\d+)    editDiskuze.php?opravdu=1&id=$1
RewriteRule    ^smazat-komentar-(\d+)    editDiskuze.php?id=$1
RewriteRule    ^zablokovani-ip-(.*)-(\d+)    editDiskuze.php?diskuze=1&ip=$1&id=$2
RewriteRule    ^zablokovani-(.*)-(\d+)    editDiskuze.php?ip=$1&id=$2
RewriteRule    ^editace-diskuze    editDiskuze.php
RewriteRule    ^upravit-komentar-(\d+)    diskuze.php?id=$1
RewriteRule    ^upravit-komentar    diskuze.php
RewriteRule    ^diskuze-(\d+)    diskuze.php?strana=$1
RewriteRule    ^diskuze    diskuze.php
RewriteRule    ^smazat-prijem-opravdu-(\d+)    pokladna.php?opravdu=1&prijem=$1
RewriteRule    ^smazat-prijem-(\d+)    pokladna.php?prijem=$1
RewriteRule    ^smazat-vydaj-opravdu-(\d+)    pokladna.php?opravdu=1&vydaj=$1
RewriteRule    ^smazat-vydaj-(\d+)    pokladna.php?vydaj=$1
RewriteRule    ^pokladna    pokladna.php
RewriteRule    ^treninky    treninky.php
RewriteRule    ^pokuty    pokuty.php
RewriteRule    ^upravit-pokutu-(\d+)    pridatPokutu.php?id=$1
RewriteRule    ^upravit-pokutu    pridatPokutu.php
RewriteRule    ^pridat-pokutu-(\w+)    pridatPokutu.php?login=$1
RewriteRule    ^pridat-pokutu    pridatPokutu.php
RewriteRule    ^upravit-prijem-(\d+)    prijem.php?idP=$1
RewriteRule    ^upravit-prijem    prijem.php
RewriteRule    ^zaplatit-vse-(\w+)    prijem.php?login=$1
RewriteRule    ^zaplatit-vse    prijem.php
RewriteRule    ^zaplatit-pokutu-(\d+)    prijem.php?id=$1
RewriteRule    ^zaplatit-pokutu    prijem.php
RewriteRule    ^novy-prijem    prijem.php
RewriteRule    ^upravit-vydaj-(\d+)    vydaj.php?id=$1
RewriteRule    ^upravit-vydaj    vydaj.php
RewriteRule    ^novy-vydaj    vydaj.php
RewriteRule    ^rss/    rss.php
RewriteRule    ^rss    rss.php
RewriteRule    ^cmd/(\w+)    cmd/$1.php
RewriteRule    ^2.0.0/[^.]+$     2.0.0/index.html